.banner {
  background-color: #4e49e1;
  border-radius: 15px;
  width: 100%;
  padding: 26px;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 140px;

  &__text {
    color: white;
    font-size: 25px;
    max-width: 80%;
    z-index:1;

    &__highlight {
      font-size: 34px;
      font-weight: bold;
    }
  }

  &__woman {
    width: 210px;
    position: absolute;
    right: 10px;
    top: -20px;
  }

  &__polygon {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 0;
    clip-path: polygon(0 0, 20% 0, 32% 66%, 22% 66%);
    width: 100%;
    background: rgb(248,240,240);
    background: linear-gradient(144deg, rgba(248,240,240, 0.3) 0%, rgba(248,240,240,0) 30%);
    border-radius: 15px;
  }

  &__circle {
    &__1 {
      position: absolute;
      right: 10px;
      top: -40px;
      bottom: 0;
      left: 0;
      z-index: 0;
      clip-path: circle(8% at 90% 100px);
      background: #DDD7EF27;
    }

    &__2 {
      position: absolute;
      right: 10px;
      top: -40px;
      bottom: 0;
      left: 0;
      z-index: 0;
      clip-path: circle(10% at 90% 100px);
      background: #A69BCF33;
    }
  }
}
