.nav-bar {
  &__item {
    &s {
      display: flex;
      flex-direction: column;
      row-gap: 60px;
      margin-top: 40px;
    }

    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #9E9EA7;

    &:hover {
      color: #687B8C;
      font-weight: bold;
    }


    &__icon {
      width: inherit;
      &__container {
        margin-right: 15px;
        width: 35px;
      }
    }

    &__title {
      font-size: 24px;
    }
  }
}
