.top-students {
  &__card {
    background: white;
    padding: 10px;
    border-radius: 16px;
    margin-top: 20px;

    &__title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &__item {
      display: flex;
      align-items: center;
      background: #F9F8FE;
      border-radius: 8px;
      padding: 5px 10px;
      column-gap: 10px;

      &__avatar {

      }

      &__infos {
        display: flex;
        flex-direction: column;

        &__name {
          font-size: 18px;
          font-weight: bold;
        }
        &__time {
          color: #E48276;
        }
      }
    }
  }
}
