@import './stripe_style.css';

@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind screens;

button:focus {
    outline: none
}

a:hover {
    text-decoration: none!important;
}

html,body, #__next {
    height: 100%;
    font-family: -apple-system, serif;
}

.h-min {
    height: min-content;
}
