@import './stripe_style.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap');

@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind screens;



button:focus {
    outline: none
}

a:hover {
    text-decoration: none!important;
}

html,body, #__next {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

.h-min {
    height: min-content;
}

.header {
    background: transparent;
}

.main-title {
    font-family: 'MuseoModerno', sans-serif;
}
