@import './stripe_style.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Sans+Pro:wght@300&display=swap');

@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind screens;

button:focus {
    outline: none
}

a:hover {
    text-decoration: none!important;
}

html,body, #__next {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

.h-min {
    height: min-content;
}

.header {
    background: linear-gradient(90deg, rgb(48, 131, 254) 0%, rgb(36, 119, 222) 44%, rgba(4,71,164,1) 100%);
}

.particles {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
