.background-ellipse {
    position: absolute;
    background-color: #fbfbfd;
    border-radius: 40%;
    height: 150vh;
    width: 130vw;
    top: -60vh;
    bottom: 0;
    left: -15vw;
    right: 0;
    z-index: -1;
}
