.ripple-container {
  position: relative;
  overflow: hidden;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 300ms ease-in-out;
  background-color: #b4b2b2;
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}
