.tooltip {
  position: relative;
  width: fit-content;

  &:hover:after{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 110%;
    top: 50%;
    font-weight: 700;
    line-height: 1.2;
    background: #000;
    border-radius: 4px;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 12px;
    padding: 10px;
    word-break-wrap: none;
    width: max-content;
    max-width: 400px;
  }
}

.disabled {
  &:hover:after {
    display: none;
  }
}
