.TTInput {
  &__input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EBF2F7;
    border-radius: 8px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #687B8C;
    padding: 17px 26px;
  }
}
