.last-messages {
  &__card {
    flex-grow: 1;
    background: white;
    padding: 10px;
    border-radius: 16px;

    &__title {
      font-size: 18px;
      font-weight: 600;
    }

    &__item {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 5px 10px;
      column-gap: 10px;

      &__avatar {

      }

      &__infos {
        display: flex;
        flex-direction: column;

        &__name {
          font-size: 18px;
          font-weight: bold;
        }
        &__time {
          color: #8E99A9;
        }
      }
    }
  }
}


