.card {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  flex-basis: 30%;
  max-width: 326px;
  min-height: 340px;
  max-height: 350px;
  position: relative;
  background: white;

  @media (min-width: 0px) {
    flex-basis: 100%;
  }

  @media (min-width: 768px) {
    flex-basis: 50%;
  }

  @media (min-width: 900px) {
    flex-basis: 30%;
  }
}
