.tools {
  background: rgba(212, 212, 212, 0.65);
  border: 1px solid #adadad;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  left: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px
}
