.field-selection {
  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */

    text-transform: capitalize;

    color: #149BB4;
    margin-bottom: 16px;
  }
  &__subtitle {
    font-size: 14px;
    line-height: 19px;

    color: #323232;
    margin-bottom: 16px;
  }
  &__list {
    &__item {
      display: flex;
      align-items: center;
      cursor: pointer;

      padding: 16px;
      margin-bottom: 24px;

      border: 1px solid #C3D1DD;
      box-sizing: border-box;
      border-radius: 8px;
      &--active {
        background: rgba(20, 155, 180, 0.1);
      }

      &__label {
        font-weight: bold;
        font-size: 24px;
      }

      &__icon {
        margin-left: 70px;
        margin-right: 16px;
        width: 32px;
        height: 32px
      }

      &__checkbox {
        border: 1px solid #ccc;
        border-radius: 50%;
        width:22px;
        height:22px;
        appearance: auto;
      }
    }
  }
}
