.tt-button {
  border-radius: 36px;
  transition: all ease-in-out 0.2s;

  &--size {
    &-small {
      padding: 10px 30px;
      font-size: 14px;
    }
    &-medium {
      padding: 14px 44px;
      font-size: 22px;
    }
    &-large {
      padding: 14px 44px;
      font-size: 26px;
    }
  }

  &--default {
    background-color: #22A52F;
    color: white;
    border: 1px solid #C4C4C4;

    &:hover {
      background-color: #017542;
      --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
    }
  }

  &--outlined {
    background-color: transparent;
    color: #22A52F;
    border: 1px solid #22A52F;

    &:hover {
      --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
    }
  }
}
