.landing {
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: clamp(30px, 7vw, 100px);
  }
  &__models {
    width: clamp(500px, 55vw, 1000px);
    height: clamp(500px, 80vh, 1000px);
    cursor: pointer;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__container {
    overflow: hidden;
  }
}

.info-aside {
  &s {
    display: flex;
    flex-wrap: wrap;
  }

  display: flex;
  &:first-child {
    margin-right: 20px;
  }

  &__icon {
    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border-radius: 100%;
      border: 1px solid #CAC7C7;
      width: 45px;
      height: 45px;
      margin-right: 10px;
    }
  }
  &__texts {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &__title {
      font-size: 16px;
    }

    &__subtitle {
      max-width: 150px;
      font-size: 14px;
      color: #ADADAD;
    }
  }
}

.main-title {
  display: flex;
  flex-direction: column;
  line-height: 7vh;

  &__title {
    color: #5F85E6;
    font-weight: bold;
    font-size: clamp(50px, 5vw, 64px);
  }
  &__subtitle {
    &-1 {
      color: black;
      font-weight: bold;
      font-size: clamp(50px, 5vw, 64px);
    }
    &-2 {
      font-size: clamp(20px, 2vw, 26px);
    }
  }
}
