.landing {
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: clamp(30px, 7vw, 100px);
  }
  &__models {
    width: clamp(500px, 55vw, 1000px);
    height: clamp(500px, 80vh, 1000px);
    cursor: pointer;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: calc(100vh - 200px);
  }
  &__container {
    overflow: hidden;
  }
}

.info-aside {
  &s {
    display: flex;
  }

  display: flex;
  width: fit-content;

  &__icon {
    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border-radius: 100%;
      border: 1px solid #CAC7C7;
      width: 45px;
      height: 45px;
      margin-right: 10px;
    }
  }
  &__texts {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    &__title {
      font-size: clamp(16px, 1.8vw, 25px);
    }

    &__subtitle {
      max-width: 50%;
      font-size: clamp(14px, 1vw, 20px);
      color: #ADADAD;
    }
  }
}

.main-title {
  display: flex;
  flex-direction: column;
  line-height: clamp(50px, 8vw, 100px);

  &__title {
    color: #5F85E6;
    font-weight: bold;
    font-size: clamp(40px, 7vw, 100px);
  }
  &__subtitle {
    &-1 {
      color: black;
      font-weight: bold;
      font-size: clamp(50px, 7vw, 100px);
    }
    &-2 {
      font-size: clamp(20px, 3vw, 50px);
    }
  }
}
