$textDur: 1050ms;
$waveDur: 2100ms;
$deltaWave: 25px;

.scroll-button {
  display: flex;
  align-items: center;

  &:hover {
    .scroll-button__icon-container {
      animation: first $textDur infinite;
    }

    .scroll-button__text {
      animation: text $textDur infinite;
    }
  }

  &__icon {
    width: 40%;

    &-container {
      $dim: 45px;
      width: $dim + 5px;
      height: $dim;
      display: flex;
      color: white;
      border-radius: 45%;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      background: #5F85E6;
      transition: all 0.5s ease-in-out;
    }
  }

  &__text {
    text-transform: uppercase;
    color: #5F85E6;
    font-weight: bolder;
    font-size: 20px;
    display: inline-block;
    bottom: 0;
    transition: all 0.5s ease-in-out;
  }
}


@keyframes text {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-$deltaWave);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes first {
  0% {
    transform: translateY(0);
  }
  38% {
    transform: translateY(-$deltaWave);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
